@import "navbar.css";
@import "footer.css";
@import "product.css";
@import "home.css";
@import "ourStory.css";

*{margin: 0; padding: 0; box-sizing: border-box; font-family: "PT Sans", Calibri, Tahoma, sans-serif;}
::selection{color: var(--cafe-noir); background: var(--white-chocolate);}

:root{
    --cafe-noir: #492D12;
    --mud: #775A41;
    --beaver: #A7856C;
    --dust-storm: #E2CCBA;
    --white-chocolate: #F0E6DA;
}

.inline-logo{
    width: 300px; height: 30px;
    margin-right: 30px;
    background: url('/brand/logo-linear.svg') no-repeat center;
    background-size: contain;
}

.center-flex{display: flex; align-items: center; justify-content: center;}
.center-grid, a{display: grid; place-items: center;}

a{text-decoration: none; color: var(--cafe-noir);}
button{display: grid; border: none; outline: none; background: none; cursor: pointer;}
ul{list-style-type: none;}
img{width: 30px;}



/*** GENERAL MAIN SECTIONS ***/
main{margin-top: 70px;}
.title{text-align: center; font-size: 2em; margin: 25px 0;}

.rating{width: 115px; height: 20px; display: block; background: url('/icons/full-star.svg') space;}

.controls{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.controls img{width: 35px; height: 35px; margin: 10px; cursor: pointer; transition: .5s;}
.controls img:first-child{rotate: -90deg;}
.controls img:last-child{rotate: 90deg;}
.controls img:hover{margin-bottom: 20px; transition: .5s;}

#products .controls, #testimonials .controls{width: 100%; height: 50px;}
#products .controls img:first-child, #testimonials .controls img:first-child{position: absolute; right: 100px;}
#products .controls img:last-child, #testimonials .controls img:last-child{position: absolute; right: 50px;}