/* components */
@import "navbar.css";
@import "footer.css";
@import "productCard.css";
@import "relatedProducts.css";

/* pages */
@import "home.css";
@import "ourStory.css";
@import "cart.css";
@import "product.css";
@import "notFound.css";

*{margin: 0; padding: 0; box-sizing: border-box; font-family: "PT Sans", Calibri, Tahoma, sans-serif;}
::selection{color: var(--cafe-noir); background: var(--white-chocolate);}

:root{
    --cafe-noir: #492D12;
    --mud: #775A41;
    --beaver: #A7856C;
    --dust-storm: #E2CCBA;
    --white-chocolate: #F0E6DA;
}

.flex{display: flex;}
.center-flex{display: flex; align-items: center; justify-content: center;}
.center-grid, a{display: grid; place-items: center;}

.row{flex-flow: row wrap;}
.column{flex-flow: column wrap;}

a{text-decoration: none; color: var(--cafe-noir);}
button{display: grid; border: none; outline: none; background: none; cursor: pointer;}
ul{list-style-type: none;}
img{width: 30px;}



/*** GENERAL MAIN SECTIONS ***/
main{margin-top: 70px;}
.title{text-align: center; font-size: 2em; margin: 25px 0;}


.controls{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.controls p{position: absolute; right: 100px;} /* page number (commented out) */
.controls img{width: 35px; height: 35px; margin: 10px; cursor: pointer; transition: .5s;}
.controls img:first-child{rotate: -90deg;}
.controls img:last-child{rotate: 90deg;}
.controls img:first-child:hover{transform: translateX(5px); transition: .5s;}
.controls img:last-child:hover{transform: translateX(-5px); transition: .5s;}

.products .controls, #testimonials .controls{width: 100%; height: 50px;}
.products .controls img:first-child, #testimonials .controls img:first-child{position: absolute; right: 100px;}
.products .controls img:last-child, #testimonials .controls img:last-child{position: absolute; right: 50px;}